.mainContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.heroContainer{
  display: flex;
  justify-content: space-between;
  background-color: #495E57;
  position: relative;
  padding: 0 10vw;
  min-height: 28vw;
  width: auto;
}
.heroContainer > div{
  width: 45%;
  height: 100%;
}
.heroContainer img{
  width: 300px;
  position:absolute;
  top: 15px;
  border-radius: 16px;
  border: 1px solid black;
}
.heroContainer h1{
  color: #F4CE14;
  font-size: 64px;
  font-weight: 500;
}
.heroContainer h3{
  color: #EDEFEE;
  font-size: 40px;
  font-weight: normal;
}
.heroContainer p{
  color: #EDEFEE;
  font-size: 16px;
  line-height: 1.5;
}
.heroContainer button{
  background-color: #F4CE14;
  border-radius: 16px;
  color:#333333;
  padding: 5px;
  font-family: 'Karla' serif;
  font-weight: medium;
  font-size: 18px;
}

.highlightsContainer{
  padding: 5vw 10vw;
  display: grid;
  grid-template-columns: repeat(3,auto);
  grid-template-rows: auto auto;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.cardContainer{
  grid-column: 1 / span 3;
  display: flex;
  justify-content: center;
  gap: 2vw;
  width: 100%;
}
.highlightsContainer > h1{
  font-size: 64px;
  font-weight: 500;
}
.highlightsContainer button{
  background-color: #F4CE14;
  border-radius: 16px;
  color:#333333;
  padding: 5px;
  font-family: 'Karla' serif;
  font-weight: medium;
  font-size: 18px;
  width: fit-content;  
}
.card{
  background-color: #EDEFEE;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 16px 16px 0 0;
}
.card img{
  width: 100%;
  border-radius: 16px 16px 0 0;
}
.cardContent{
  padding: 0 2vw;
}
.cardContent > div{
  display: flex;
  justify-content: space-between;
}
.cardContent h1{
  font-size: 24px;
  font-weight: 500;
}
.cardContent h2{
  font-size: 16px;
  font-weight: bold;
  color:#EE9972;
}
.cardContent p{
  font-size: 16px;
  line-height: 1.5;
}

.aboutContainer{
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 0 10vw;
  min-height: 28vw;
}
.aboutContainer > div{
  width: 45%;
  height: 100%;
  position: relative;
}
.aboutContainer img{
  width: 300px;
}
.aboutContainer h1{
  font-size: 64px;
  font-weight: 500;
}
.aboutContainer h3{
  font-size: 40px;
  font-weight: normal;
}
.aboutContainer p{
  font-size: 16px;
  line-height: 1.5;
}
.aboutImg1{
  position: absolute;
  right: 0;
  z-index: 1;
}
.aboutImg2{
  position: absolute;
  top: 100px;
  z-index: 2;
}
.testimonialsContainer{
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: 200px 500px;
}
.header{
  display: flex;
  justify-content: space-between;
  padding: 0 10vw;
}
.nav{
 width: 80%;
 font-family: 'Karla' serif;
 font-size: 20px;
 font-weight: 600;
}
.nav > ul{
  display: flex;
  justify-content: space-between; 
}
li{
  display: block;
}
.hamburguerContainer{
  display: none;
}
h1,h2,h3{
  font-family: 'Markazi Text', serif;
}
p{
  font-family: 'Karla', serif;
}
.dateLabel::after, .timeLabel::after, .guestsLabel::after{
  content: '*';
  color: red;
}
.footer{
  display: flex;
  justify-content: space-around;
  padding: 0 10vw;
}
.containerConfirmation{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}
.confirmationMsj{
  max-width: 400px;
  border: 1px solid #495E57;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vw;
}
.headerMsj{
  width: 100%;
  background-color: #495E57;
  color: #EDEFEE;
  text-align: center;
}
.bookingpage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bookingpage h1{
  font-size: 40px;
  font-weight: 500;
}
.form input,select{
  border-radius: 16px;
}
.form label{
  font-size: 24px;
  font-weight: 500;
}
.form input[type='submit']{
  background-color: #F4CE14;
  border-radius: 16px;
  color:#333333;
  padding: 5px;
  font-family: 'Karla' serif;
  font-weight: medium;
  font-size: 18px;
}
@media only screen and (max-width: 800px) {
  .header{
    display: flex;
    justify-content: flex-start;
    padding: 2vw;
  }
  .hamburguerContainer{
    display: inline-block;
    flex-grow: 1;
  }
  .nav{
    display: none;
  }
  .logoContainer{
    display: inline-block;
    flex-grow: 1;
  }
  .heroContainer{
    display: flex;
    justify-content: center;
    background-color: #495E57;
    width: auto;
  }
  .heroImgContainer{
    display: none;
  }
  .heroInfoContainer{
    flex: 50%;
    width: 100%;
  }
  .highlightsContainer{
    display: flex;
    flex-direction: column;
  }
  .cardContainer{
    display: flex;
    justify-content: flex-start;    
    gap: 2vw;
    width: 100%;
    overflow-x: auto;
  }
  .card{
    min-width: 250px;
  }
  .aboutContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .aboutContainer > div{
    width: 100%;
    position: relative;
    
  }
  .aboutImgContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vw;
  }
  .aboutImg1, .aboutImg2{
    position: relative;
    top: 0;
  }
  .footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
  }
}