.mainContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px solid black;
}
.heroContainer{
  display: flex;
  justify-content: center;
  background-color: #495E57;
}
.highlightsContainer{
  display: grid;
  grid-template-columns: repeat(3,150px);
  grid-template-rows: 200px 500px;
}
.aboutContainer{
  display: flex;
  justify-content: center;
}
.testimonialsContainer{
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: 200px 500px;
}
